* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
  margin: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 99vh;
  background: #efefef;
  color: #555;
}

h1 {
  font-size: .99rem;
}

h2 {
  font-size: .77rem;
  color: #ccc;
}
